<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="sign-in" method="post">

    <p th:text="#{hello.welcome}">Este mensaje está en el html</p>

    <p th:if = "${username}" th:text="|Bienvenido ${username}|"> no ha cogido la cookie!</p>
    <p th:unless="${username}">Lo siento, pero no te conocemos aún...!</p>

    <input type="text" placeholder="Whats your name" name="username">
    <button>Sign in</button>

    <div th:insert="footer :: copy"></div>

</form>

</body>
</html>