<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="boilerplate :: head">
</head>
<body>

<header th:insert="boilerplate :: header">
</header>


<section>
    <div class="container">
        <div class="edit-entry">
            <h2>Edit Entry</h2>
            <form th:action="|/entries/${entry.slug}/edit|" method="post">
                <label for="title"> Title</label>
                <input type="text" name="title" th:value="${entry.title}"><br>
                <label for="tags"> Tags</label>
                <ul class="tags">
                    <li th:if="${entry.tags}" th:each="tag,iterStat : ${entry.tags}">
                        <input
                                type="checkbox"
                                name="tags"
                                th:value="|tag-${iterStat.count}|"
                                th:checked="true"
                                th:text="${tag}">

                    </li>

                </ul>
                <label for="newTags"> Add tags</label>
                <input type="text" name="newTags" placeholder="Enter new tags separated by comma :)"><br>

                <label for="entry">Entry</label>
                <textarea rows="5" name="entry" th:text="${entry.body}"></textarea>

                <input type="submit" value="Save Entry" class="button">
                <a th:href="|/entries/${entry.slug}|" class="button button-secondary">Cancel</a>
                <a th:href="|/entries/${entry.slug}/delete|" class="button button-secondary">Delete</a>

            </form>
        </div>
    </div>
</section>

<footer th:insert="boilerplate :: footer">
</footer>

</body>
</html>