<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="boilerplate :: head">
    </head>
    <body>

    <header th:insert="boilerplate :: header">
    </header>




        <section>
            <div class="container">
                <div class="entry-list">
                    <article th:if="${iterStat.count <= 3}" th:each="entry,iterStat : ${entries}">
                        <!--Todo: Add the number of entries to show in a properties file?-->
                        <h2><a th:href="|entries/${entry.slug}|" th:text="${entry.tittle}">The best day I’ve ever had</a></h2>
                        <time datetime="2016-01-31 1:00" th:datetime="${entry.date}" th:text="${entry.date}"> January 31, 2016 at 1:00</time>
                        <!--Todo: dates could be prettier...xD-->
                    </article>
                    <!--<article>-->
                        <!--<h2><a href="detail_2.html">The absolute worst day I’ve ever had</a></h2>-->
                        <!--<time datetime="2016-01-31 1:00">January 31, 2016 at 1:00</a></time>-->
                    <!--</article>-->
                    <!--<article>-->
                        <!--<h2><a href="detail_3.html">That time at the mall</a></h2>-->
                        <!--<time datetime="2016-01-31 1:00">January 31, 2016 at 1:00</a></time>-->
                    <!--</article>-->
                    <!--<article>-->
                        <!--<h2><a href="detail_4.html">Dude, where’s my car?</a></h2>-->
                        <!--<time datetime="2016-01-31 1:00">January 31, 2016 at 1:00</a></time>-->
                    <!--</article>-->
                </div>
            </div>
        </section>
        <footer th:insert="boilerplate :: footer">
        </footer>
    </body>
</html>