<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="boilerplate :: head">
    </head>
    <body>

    <header th:insert="boilerplate :: header">
    </header>

    <p id="flash-message" th:if="${flashm}" th:text="${flashm}"></p>


    <section>
            <div class="container">
                <div class="entry-list">
                    <article th:if="${iterStat.count <= 3}" th:each="entry,iterStat : ${entries}">
                        <h2><a th:href="|entries/${entry.slug}|" th:text="${entry.title}">The best day I’ve ever had</a></h2>
                        <time datetime="2016-01-31 1:00" th:datetime="${#dates.format(entry.date, 'dd/MMM/yyyy HH:mm')}" th:text="${#dates.format(entry.date, 'dd/MMM/yyyy HH:mm')}"> January 31, 2016 at 1:00</time>
                    <ul class="tags" th:if="${entry.tags}"><li th:each="tag : ${entry.tags}" th:text="${tag}">uno</li></ul>
                    </article>
                </div>
            </div>
        </section>

        <footer th:insert="boilerplate :: footer">
        </footer>
    </body>
</html>