<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="boilerplate :: head">
</head>

    <body>

    <header th:insert="boilerplate :: header">
    </header>


    <section>
            <div class="container">
                <div class="password">
                    <form th:action="|/entries/${entry.slug}/log-in|" method="post">
                        <label for="password">Enter Password</label>
                        <input type="password" name="password"><br>
                        <input type="submit" value="Submit" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>

        <footer th:insert="boilerplate :: footer">
        </footer>

    </body>
</html>